<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.summer.itis.summerproject">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.start.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.base.NavigationBaseActivity" />
        <activity android:name=".ui.start.registration.RegistrationActivity" />
        <activity android:name=".ui.member.member_item.PersonalActivity" />
        <activity android:name=".ui.member.member_list.reader.ReaderListActivity" />
        <activity android:name=".ui.tests.add_test.AddTestActivity" />
        <activity android:name=".ui.cards.add_card_list.AddCardListActivity" />
        <activity android:name=".ui.cards.add_card.AddCardActivity" />
        <activity android:name=".ui.game.find.FindGameActivity" />
        <activity android:name=".ui.game.play.PlayGameActivity">

        </activity>
        <activity android:name=".ui.game.play.DebugPlayGameActivity"></activity>
    </application>

</manifest>